body {
  margin: 20px;
}

a {
  text-decoration: none;
}

.search-form {
    display: flex;
    flex-direction: column;
}

.btn-primary {
    margin: 0 auto;
    display: block;
    text-align: center;
}

.button {
    display: none;
}


.photo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 5px;
  }


  .gallery {
    min-width: 430px;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
  }

  @media (max-width: 1400px) {
    .gallery {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  @media (max-width: 1100px) {
    .gallery {
      grid-template-columns: 1fr 1fr;
    }
  }

  @media (max-width: 756px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }

  .gallery-footer {
    text-align: center;
    margin-top: 20px;
  }

  .thumb {
    height: 200px;
    width: 100%;
  }

  .img {
    border-radius: 5px 5px 0 0;
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    padding: 10px;
  }




